<div>
  <h1>Change your username</h1>
  <p>Enter a new username</p>
</div>

<form [formGroup]="usernameForm" (ngSubmit)="onAccept()">
  <div mat-dialog-content>
    <div mat-dialog-content>
      <p>
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label *ngIf="data.username">Username</mat-label>
          <input
            type="text"
            matInput
            placeholder="Username"
            formControlName="username"
          />
        </mat-form-field>
      </p>
    </div>
  </div>

  <mat-dialog-actions align="end">
    <button mat-raised-button color="accent" type="button" (click)="onCancel()">
      Cancel
    </button>
    <button mat-raised-button color="primary" type="submit">Confirm</button>
  </mat-dialog-actions>
</form>
