#my-account {
  margin: auto;
}
#edit-settings-card {
  width: 90%;
  margin: auto;
}

#profile-card {
  background-color: rgb(241, 213, 213);
  width: 75%;
  margin: auto;
}

.edit-button {
  text-align: right;
}
