<div id="my-account" *ngIf="userLoaded | async">
  <mat-card-title style="padding-left: 50px; padding-bottom: 25px"
    >My Account</mat-card-title
  >
  <div fxLayout="column" fxLayoutAlign="center">
    <mat-card id="profile-card" dynamicHeight>
      <mat-card-content>
        <mat-card-title style="padding-bottom: 1%">{{
          currentUser.username
        }}</mat-card-title>
        <app-avatar
          [currentUser]="currentUser"
          (currentAvatarChanged)="openSnackBar($event)"
        ></app-avatar>

        <div id="user-info">
          <mat-card id="edit-settings-card">
            <mat-card-content>
              <div fxLayout="column" fxLayoutAlign="center">
                <div fxFlex="33%">
                  <div fxLayout="row wrap">
                    <div fxFlex="50%">
                      <mat-card-subtitle>Username</mat-card-subtitle>
                      <p>{{ currentUser.username }}</p>
                    </div>
                    <div fxFlex="50%" class="edit-button">
                      <br />
                      <button
                        mat-raised-button
                        (click)="openEditUsernameDialog()"
                      >
                        Edit
                      </button>
                    </div>
                  </div>
                </div>
                <div fxFlex="33%">
                  <div fxLayout="row wrap">
                    <div fxFlex="50%">
                      <mat-card-subtitle>Description</mat-card-subtitle>
                      <p>{{ currentUser.description }}</p>
                    </div>
                    <div fxFlex="50%" class="edit-button">
                      <br />
                      <button
                        mat-raised-button
                        (click)="openEditDescriptionDialog()"
                      >
                        Edit
                      </button>
                    </div>
                  </div>
                </div>
                <br />

                <div fxFlex="33%">
                  <div fxLayout="row wrap">
                    <div fxFlex="50%">
                      <mat-card-subtitle>First name</mat-card-subtitle>
                      <p>{{ currentUser.firstName }}</p>
                    </div>

                    <div fxFlex="50%">
                      <mat-card-subtitle>Last name</mat-card-subtitle>
                      <p>{{ currentUser.lastName }}</p>
                    </div>
                  </div>
                </div>

                <div fxFlex="33%">
                  <div fxLayout="row wrap">
                    <div fxFlex="50%">
                      <mat-card-subtitle>Email</mat-card-subtitle>
                      <p>{{ currentUser.email }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-card-content>
    </mat-card>

    <div fxFlex="50%" style="padding-top: 50px; padding-left: 50px">
      <mat-card-title style="padding-bottom: 25px"
        >Password and authentication</mat-card-title
      >
      <button
        mat-raised-button
        color="primary"
        (click)="openChangePasswordDialog()"
      >
        Change Password
      </button>
    </div>
  </div>
</div>
