<div *ngIf="statusLoaded | async">
  <mat-card-title style="padding-bottom: 25px">List of members</mat-card-title>
  <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="10px">
    <div *ngFor="let member of this.data.members">
      <div fxFlex="100%">
        <mat-card class="member-card">
          <mat-card-header>
            <mat-icon
              mat-card-avatar
              matBadge="0"
              matBadgePosition="below after"
              matBadgeSize="small"
              [matBadgeColor]="getStatusColor(member._id)"
              class="hide-text"
            >
              <ngx-avatar [src]="member.avatar?.imageUrl"></ngx-avatar>
            </mat-icon>
            <div style="padding-left: 20px">
              <mat-card-title
                (click)="goToProfile(member._id)"
                style="cursor: pointer"
                >{{ member.username }}</mat-card-title
              >
              <mat-card-subtitle>
                <p>
                  {{ getOnlineStatus(member._id) }}
                </p>
              </mat-card-subtitle>
            </div>
          </mat-card-header>
        </mat-card>
      </div>
    </div>
  </div>
</div>
