.user-properties {
  flex: 1 1 auto;
}

.page-link {
  color: #5b4d5a;
  font-size: 24px;
}

#nav-bar {
  padding-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
  position: absolute;
  z-index: 2;
  background-color: transparent;
}
