<h1>Change your password</h1>

<form [formGroup]="changePasswordForm" (ngSubmit)="onAccept()">
  <div mat-dialog-content>
    <div mat-dialog-content>
      <div>
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>Current password</mat-label>
          <input
            type="password"
            matInput
            placeholder="Current Password"
            formControlName="currentPassword"
          />
          <mat-error
            *ngIf="
              this.changePasswordForm.hasError('required', 'currentPassword')
            "
          >
            Password required
          </mat-error>
          <mat-error
            *ngIf="
              this.changePasswordForm.hasError(
                'wrongPassword',
                'currentPassword'
              )
            "
          >
            Wrong password
          </mat-error>
        </mat-form-field>
      </div>
      <p>
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>New Password</mat-label>
          <input
            type="password"
            matInput
            placeholder="New Password"
            formControlName="newPassword"
          />
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>Confirm Password</mat-label>
          <input
            type="password"
            matInput
            placeholder="Confirm Password"
            formControlName="confirmPassword"
            [errorStateMatcher]="matcher"
          />
          <mat-error *ngIf="this.changePasswordForm.hasError('notSame')"
            >Passwords do not match</mat-error
          >
        </mat-form-field>
      </p>
    </div>
  </div>

  <mat-dialog-actions align="end">
    <button mat-raised-button color="accent" type="button" (click)="onCancel()">
      Cancel
    </button>
    <button mat-raised-button color="primary" type="submit">Confirm</button>
  </mat-dialog-actions>
</form>
