<div id="chat-popup">
<app-popout-window #popout (isOutEvent)="closeChatPopout($event)">
  <div class=chat-top>
    <p>{{currentChannel?.name}}</p>
    <div class="chat-menu" [hidden]="isPopoutOpen">
      <button mat-icon-button 
              class="btn" 
              id="ArrowDown" 
              #arrowDown 
              [ngStyle]="{'display': isMinimized ? 'none' : 'inline'}"
              (click)="minimizeChat(true)">
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
      <button mat-icon-button 
              class="btn" 
              id="ArrowUp" 
              #arrowUp 
              [ngStyle]="{'display': isMinimized ? 'inline' : 'none'}"
              (click)="minimizeChat(false)">
        <mat-icon>keyboard_arrow_up</mat-icon>
      </button>
      <div [hidden]="isMinimized" style="display: inline;">
        <button mat-icon-button class="btn" (click)="openChatPopout(); popout.popOut()">
        <mat-icon>open_in_full</mat-icon>
      </button>
      </div>
      <button mat-icon-button class="btn" (click)="closeChat()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <ng-template #openPopout >
      <div class="chat-menu-popout" [hidden]="!isPopoutOpen">
        <button mat-icon-button class="btn" (click)="popout.popIn()">
          <mat-icon>close_fullscreen</mat-icon>
        </button>
      </div>
    </ng-template>
  </div>


  <div id="chat-bottom" #chatBottom [ngStyle]="{'display': isMinimized ? 'none' : 'block'}">
    <div id="chatbox" #chatBox >
      <p id="loadHistory" *ngIf="!loadedHistory" (click)="loadedHistory = true">Load previous messages ...</p>
      <div *ngFor="let m of getMessages()">
          <div [ngClass]="getMessageClass(m.author)">
            <div class="authorName">{{m.author}}</div>
            <div class="messageBox">{{m.message}}</div>
            <div class="time">{{m.timestamp}}</div>
          </div>
      </div>
    </div>

    <div id="message">
      <form id="new-message-form" (ngSubmit)="sendMessage()">
        <input
          type="text"
          #messageBody
          id="new-message-input"
          autocomplete="off"
          spellcheck="false"
          placeholder="Enter your message here"
          [(ngModel)]="this.message"
          name="new-message"
        />
        <button mat-icon-button class="icon" type="submit">
          <mat-icon>send</mat-icon>
        </button>
      </form>
    </div>
  </div>
  </app-popout-window>

</div>

