<div id="museum">
  <div *ngFor="let post of posts">
    <div class="post">
      <div class="post-header">
        <div class="author-picture" *ngIf="post.owner">
          <ngx-avatar [src]="post.owner.avatar.imageUrl"></ngx-avatar>
        </div>
        <div>
          <div class="author-text" *ngIf="post.owner">
            {{ post.owner.username }}
          </div>
          <div class="time-text" *ngIf="post.owner">{{ post.createdAt }}</div>
        </div>
      </div>

      <div class="post-image">
        <img [src]="this.transformUri(post.dataUri)" class="image" />

        <div class="bottom-image">
          <div class="bottom-group" (click)="toggleLike(post)">
            <div *ngIf="hasBeenLike(post.likes); else notLikeBlock">
              <mat-icon>favorite</mat-icon>
            </div>
            <ng-template #notLikeBlock>
              <mat-icon>favorite_border</mat-icon>
            </ng-template>
            {{ post.likes.length }}
          </div>
          <div class="bottom-group">
            <mat-icon>chat_bubble</mat-icon>
            {{ post.comments.length }}
          </div>
        </div>
      </div>

      <div *ngFor="let comment of post.comments">
        <div class="comment">
          {{ comment.author?.username }} : {{ comment.content }}
        </div>
      </div>
    </div>

    <div class="bottom-comment">
      <input
        type="comment"
        #commentInput
        [id]="post._id"
        class="comment-input"
        autocomplete="off"
        spellcheck="false"
        placeholder="Add comment"
      />
      <button mat-icon-button id="postbtn" (click)="addComment(post._id)">
        POST
      </button>
    </div>
  </div>
</div>
