#teams {
  padding: 16px;
  padding-top: 30px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

#section {
  text-align: center;
}

.team {
  height: 150px;
  width: 400px;
  max-width: 400px;
}

.team-card {
  justify-content: center;
  align-items: center;
}

mat-card-title {
  cursor: pointer;
}

mat-card {
  margin-left: auto;
  margin-right: auto;
}

#team-list {
  width: 50%;
  margin: 0 auto;
}

#team-header {
  min-width: 50%;
  padding-bottom: 30px;
}

#create-button {
  text-align: center;
}
