#profile-picture .mat-card-avatar {
  height: 100px;
  width: 100px;
}

#user-profile {
  height: 500px;
}

#user-information {
  padding-top: 100px;
  height: 400px;
  min-width: 60%;
}

#user-description {
  min-width: 80%;
  min-height: 20%;
}

#username {
  font-size: 24px;
}

#follower-information {
  font-size: 12px;
}

#user-profile {
  padding-top: 50px;
}

#user-drawings {
  width: 80%;
  margin: auto;
  padding-top: 2%;
}

#drawings {
  padding-top: 2%;
}
